html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(45, 45, 45);
    color: white;
}
.hidden {
    display: none;
}
.faq-selected {
    color: yellowgreen;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
ul {
    font-size: 80%;
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0 auto;
    gap: 20px;
}
li {
    cursor: pointer;
}
li:hover {
    color: yellowgreen;
}
